spring:
  config:
    activate:
      on-profile: prod
  r2dbc:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    pool:
      max-size: 3
      initial-size: 1
supabase:
  jwt-secret: ${SUPABASE_JWT_SECRET}